.color-nav {
    background-color: #5a2c59;
}

.fontmarca{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1px;
}

.link-nav {
    color: white;
}

.link-nav:hover {
    text-decoration: none;
    color: gray;
}